{% block recherche %}
    <h3>recherche</h3>
    <div class="form-group">
        <label for="pk"> Id du client</label>
        <select class="form-control" id="id" name="id">
            {% for id in lesId %}
                <option> {{ id['id'] }} </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}