{% import '/imports/elements.html' as elements %}
{% block recherche %}
    <h2>Recherche selon critères</h2>
    <form action="index.php?c=GestionClient&a=rechercheClientsAjax" method="post">
        <div class="form-group">
            {{ elements.list("titreCli", titres, "titre", "titres") }}
            {{ elements.list("villeCli", villes, "ville", "villes") }}
            {{ elements.list("cpCli", cps, "cp", "cps") }}
        </div>
        {% if criteres %}
            <h4>
                {% for critere in criteres %}
                    {{ critere }} - 
                {% endfor %}
            </h4>
        {% endif %}
    </form>
{% endblock %}