{%  extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
        <h2>Nouveau client</h2>
        <form action="index.php?c=GestionClient&a=creerClient" method="post">
            <div class="form-group">
                <label for="titre">Titre</label>
                <select class="form-control" id="titre" name="titreCli">
                    <option>Choisir...</option>
                    <option>Monsieur</option>
                    <option>Madame</option>
                    <option>Mademoiselle</option>
                </select>
            </div>
            <div form="form-group">
                <label for="nom">Nom :</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nomCli" value="Roche"/>
                <label for="prenom">Prenom :</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prenom" name="prenomCli" value="Benoit"/>
                <label for="adresse1">Adresse :</label>
                <input type="text" class="form-control" id="adresse1" placeholder="Adresse" name="adresseRue1Cli" value="Les Lauriers"/>
                <label for="adresse2">Complément d'adresse :</label>
                <a href="creerClient.html.twig"></a>
                <input type="text" class="form-control" id="adresse2" placeholder="Complément d'adresse(facultatif)" name="adresseRue2Cli" value="Avenue W. Churchill"/>
                <label for="cp">Code Postal :</label>
                <input type="text" class="form-control" id="cp" placeholder="Code postal" name="cpCli" value="83000"/>
                <label for="ville">Ville :</label>
                <input type="text" class="form-control" id="ville" placeholder="Ville" name="villeCli" value="Toulon"/>
                <label for="tel">Téléphone :</label>
                <input type="text" class="form-control" id="tel" placeholder="Tel" name="telCli" value="0404040404"/>
            </div>
            <button type="submit" class="btn btn-default">Créer</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}