{# empty Twig template #}
{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
        {% block recherche %}
            {{ include('/blocks/filtresClientsRecherche.html.twig') }}
        {% endblock %}
    </div>
    <div id="retour">
        {% block retour %}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
    <script type="text/javascript" src="assets/js/GestionClient/clientsFunctionsFiltres.js"></script>
    <script type="text/javascript" src="assets/js/creationXHR.js"></script>
{% endblock %}