{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
        <h2>Recherhce selon critères</h2>
        <form action="index.php?c=GestionClient&a=recupereDesClients" method="post">
            <div class="form-group">
                <label for="titre">Titre</label>
                <select class="form-control" id="titre" name="titreCli">
                    <option>Choisir...</option>
                    {% for titre in titres %}
                        <option>{{ titre }}</option>
                    {% endfor %}
                </select>
                <label for="CP">CP</label>
                <select class="form-control" id="cp" name="cpCli">
                    <option>Choisir...</option>
                    {% for cp in cps %}
                        <option>{{ cp }}</option>
                    {% endfor %}
                </select>
                <label for="ville">Villes</label>
                <select class="form-control" id="ville" name="villeCli">
                    <option>Choisir...</option>
                    {% for ville in villes %}
                        <option>{{ ville }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default">Voir</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}