{% extends "layout.html.twig" %}
{% block contenu %}
    <p><h2> Liste des clients </h2></p>
    {{ include('/blocks/arrayClients.html.twig') }}
{% endblock %}
{% block footer %}
    Nombre de clients : {{ clients|length }}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
